*.o
*.so

# vim
*.swp
tags

.vscode

# cmake
install_manifest.txt
log
CMakeCache.txt
Makefile
!/doc/Makefile
bin/
cmake_install.cmake
CMakeFiles/
builds/

# PostgreSQL
storedproc/pgsql/c/*.sql

# quilt
.pc

doc/html
doc/pdf

egen/
